body {
  font-family: "Roboto", sans-serif;
  background-color: #171f34;
  color: #fff;
  margin: 0;
  padding: 0;
}
body .background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
body a {
  text-decoration: underline;
  color: #1b9db8;
}
body a:hover {
  color: #057f97;
}
body .carousel-control-prev,
body .carousel-control-next {
  width: 10%;
}
body .carousel-control-prev .carousel-control-next-icon,
body .carousel-control-prev .carousel-control-prev-icon,
body .carousel-control-next .carousel-control-next-icon,
body .carousel-control-next .carousel-control-prev-icon {
  display: none;
}
body .card {
  text-align: center;
  margin-top: 25px;
  background-color: transparent;
  border: 0;
}

.intro {
  margin-top: 8%;
  text-align: left;
  padding: 20px;
}
.intro .name {
  font-size: 3rem;
  color: #3bc9b6;
}
.intro .title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
}
.intro .personality {
  padding-bottom: 20px;
  margin-top: 30px;
}
.intro .personality table {
  font-size: 20px;
}
.intro .personality table td {
  margin-left: 0;
  padding: 5px;
}
.intro .personality img {
  width: 30px;
  height: 30px;
}
.intro .personality a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #3bc9b6;
  overflow: hidden;
  background: linear-gradient(to right, #3bc9b6, #3bc9b6 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.intro .personality a:hover {
  background-position: 0 100%;
}
.intro .repo-card {
  text-align: left;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.intro .repo-card p {
  padding: 15px;
}
.intro .repo-card .updated {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #1b9db8;
}
.intro .repo-card a {
  font-size: 1.5rem;
  padding: 15px;
  text-align: left;
}

.about {
  margin-top: 30px;
  text-align: left;
  font-size: 15px;
}
.about p {
  padding: 10px;
  font-size: 16px;
  color: #2dbad6;
}
.about .about-text {
  margin-right: 0.8rem;
  color: #72cfc1;
}
.about .bracket {
  color: #fff;
}
.about .indent {
  margin-left: 25px;
}
.about .engines {
  margin-left: 30px;
  color: #2dbad6;
}
.about .dep {
  margin-left: 50px;
}
.about .accomplishment {
  color: #2dbad6;
  margin-left: 75px;
}
.about a {
  color: #1b9db8;
  text-decoration: underline;
}
.about a:hover {
  color: #057f97;
}

.sidebar {
  position: fixed;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  z-index: 3;
}
.sidebar a {
  display: block;
  text-align: center;
  padding: 25px;
  transition: all 0.4s ease;
  text-decoration: none;
  color: #fff;
}
.sidebar a:hover {
  color: #171f34;
  background-color: #057f97;
}

.testimonials {
  margin-top: 10%;
}
.testimonials .card {
  height: 330px;
}
.testimonials .card-body {
  padding: 10px;
}
.testimonials .card-title {
  margin: 0;
}
.testimonials .card-text {
  font-size: 18px;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-style: italic;
}
.testimonials .avatar {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.testimonials .avatar img {
  background-color: #057f97;
  position: absolute;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
  bottom: 20%;
  display: block;
}

.description {
  margin-top: 5%;
}
.description .description-text p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.description .description-text .terms {
  color: #3bc9b6;
}
.description .description-image {
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  width: 200px;
  border: 3px solid #057f97;
}
.description .description-image img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
